*{
    margin: 0;
}
footer{
    background-color: rgb(68, 111, 160);
}
.img1{
    margin-top: 20px;
}
.img2{
    width: auto;
    padding-right: 150px;
    height: auto;
}
.form{
    border: 2px solid black;
    width: 350px;
    line-height: 25px;
}

.all{
   display: flex;
   justify-content: center;
   margin-top: 100px;
}
h1{
    margin-bottom: 20px;
    margin-right: 100px;
    margin-top: 20px;
    font-family: sans-serif;
}
#txt{
    width: 200px;
}
#eml{
    width: 200px;
}
#pass{
    width: 200px;
}
#passwr{
    width: 200px;
}
button{
    width: 210px;
    background-color: rgb(62, 99, 134);
    color: white;
    height: 30px;
    margin: 20px 0;
}
#text{
    margin-right: 140px;
}
#email{
    margin-right: 170px;
}
#passw{
    margin-right: 150px;
}
#re_enter{
    margin-right: 90px;
}
