:root {
    /* colors */
    --white: #fff;
    --blue: #0068c9;
    --red: #db4747;
    --black: #383838;
    --gray: #656565;
    --light-gray: #c6c6c6;
  
    /* font weight */
    --light: 300;
    --regular: 400;
    --semi-bold: 600;
    --bold: 700;
  }
  
*{
    margin: 0;
}
.all{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.img1{
    margin-top: 30px;
}
.dis{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.img2{
    margin-right: 150px;
    margin-top: 40px;
    width: 447px;
    height: 387px;
}
/*Start Desain form*/
form{
    border: 2px solid black;
    width: 380px;
    height: 508px;
    font-size: 16px;
}
.h1{
    margin-top: 30px;
    margin-right: 210px;
}
.frm{
    margin: 20px;
}
.nme{
    margin-right: 250px;
    padding-top: 10px;

}
.eml{
    margin-right: 280px;
}
.pass{
    margin-right: 250px;
}
.re_enter{
    margin-right: 185px;
}
form label{
    display: block;
}
form input{
    width: 315px;
    height: 34px;
}
button{
    width: 325px;
    height: 44px;
    background-Color: var(--blue);
    color: white;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}   
.paragraph{
    margin-right: 35px;
}
a{
    color: var(--blue);
    text-decoration: none;
    margin-right: 50px;
}
/*Finish Desain form*/

