.cart {
  margin-top: 2.5rem;
  margin-bottom: 100px;
}

.container--grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 52px;
  height: 100%;
}

.card__item {
  flex-direction: row;
  margin-bottom: 1rem;
}

.card__item__img__container {
  width: 400px;
  margin-bottom: 0;
  margin-right: 2rem;
}

.subtotal {
  border: 1px solid var(--light-gray);
  background-color: var(--white);
  height: 70px;
  border-radius: 8px;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 44px;
  column-gap: 0.5rem;
}
.subtotal__title {
  color: var(--gray);
}
.subtotal__price {
  display: none;
  font-size: 2rem;
  font-weight: var(--bold);
  color: var(--blue);
  margin: -6px 0 0;
}
.subtotal__title {
  display: none;
}

.subtotal__stock {
  color: var(--gray);
  display: block;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  line-height: 1.1;
  margin: -1px 0 2rem;
}
.subtotal .btn {
  width: 100%;
  text-align: center;
  line-height: 1;
  display: grid;
  place-items: center;
  margin-bottom: 0;
}

@media screen and (min-width: 845px) {
  .container--grid {
    grid-template-columns: 1fr 320px;
  }
  .subtotal {
    position: sticky;
    display: block;
    top: 110px;
    height: auto;
    border: 1px solid var(--light-gray);
    padding: 2.2rem;
  }
  .subtotal__title,
  .subtotal__price {
    display: block;
  }

  .subtotal .btn {
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
}
