.banner {
  margin:24px 0px 0px 0px;
}

.banner__img {
  width: 1400px;
  height: 300px;
}

.fs__container {
  width: 100%;
  border-bottom: 1px solid var(--gray);
  margin:30px 0;
}

.fs__header {
  display: flex;
  background-color: var(--blue);
  border-radius: 10px;
  box-sizing: border-box;
  padding:16px 0 16px 40px;
  justify-content: space-between;
  margin: 0 0 30px 0;
}

.fs__header__left {
  display: flex;
  align-items: center;
}

.fs__header__left__title {
  font-weight: var(--regular);
  font-size: 16px;
  color: var(--white);
  margin:0 24px 0 0;
}

.fs__header__left__time {
  background-color: var(--white);
  border-radius: 10px;
  padding: 7px 11px;
}

.fs__header__left__time__separator {
  color: var(--white);
  margin: 0 10px;
}

.fs__header__right {
  display: flex;
  justify-content: space-around;
}

.fs__header__right__img {
  width: 100%;
  margin:0 40px 0 0;
}

.all__product__horizontal {
  display: flex;
  justify-content: space-around;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  padding:17px;
  border: 1px solid var(--gray);
  border-bottom: 10px solid var(--blue);
  border-radius: 10px;
  margin: 0 0 30px 0;
}

.card__item__img__container {
  width: 120px;
  height: 170px;
  margin:0 0 30px 0;
}

.card__item__img__photo {
  width: 100%;
  object-fit: contain;
} 

.card__item__discount {
  background-color: var(--red);
  color: var(--white);
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
}

.card__item__price {
  display: flex;
  margin:5px 0;
}

.card__item__price__normal {
  font-weight: var(--bold);
  font-size: 14px;
  text-decoration: line-through;
  text-decoration-color: var(--red);
  color: var(--gray);
  margin:0 5px 0 0;
}

.card__item__price__hot {
  font-size: 18px;
  font-weight: var(--bold);
  color: var(--blue);
}

.card__item__title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: var(--regular);
}

.card__item__seller {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.card__item__seller__icon {
  width: 15px;
  height: 12px;
  margin:0 5px 0 0;
}

.card__item__seller__name {
  font-size: 12px;
}

.card__item__info {
  display: flex;
  align-items: center;
}


.card__item__info__star {
  width: 13px;
  height: 16px;
  margin:0 5px 0 0;
}

.card__item__info__content {
  font-size: 12px;
  font-weight: var(--regular);
  margin: 3px 5px 0 0;
}

.all__product__vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}