@import './variabels.css';
@import './utils/utils.css';

html {
  font-size: 12px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

h1,
h2,
h3 {
  font-weight: var(--semi-bold);
  color: var(--black);
  line-height: 1.3;
}

h1,
h2 {
  margin-bottom: 0.4rem;
}

h1 {
  font-size: 1.5rem; /* 24px */
}

h2 {
  font-size: 1.25rem; /* 20px */
}

p {
  font-size: 1rem; /* 16px */
  font-weight: var(--regular);
  color: var(--gray);
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* navbar */
.nav {
  padding: 12px 0;
  font-size: 0.875rem; /* 14px */
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__right {
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 2.5rem;
}

.nav__search {
  display: flex;
  order: 2;
  align-items: center;
  width: 100%;
  background-color: #ececec;
  height: 44px;
  padding: 8px 1.75rem 8px 2rem;
  border-radius: 44px;
  margin-top: 0.5rem;
}

.nav__search-input {
  flex: 1;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav__search-button {
  cursor: pointer;
  border: none;
}

.nav__search-icon {
  width: 20px;
  height: 20px;
}

.nav__navigation {
  display: flex;
  margin-left: 1rem;
}

.nav__navigation-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 12px;
  color: var(--gray);
}
.nav__navigation-text {
  display: none;
}

.nav__navigation-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}
.nav__auth {
  position: relative;
}
.nav__auth-action {
  display: none;
  position: absolute;
}

.nav__auth-action--active {
  display: block;
  width: 120px;
  bottom: -110px;
  right: 0;
  padding: 12px 12px 6px;
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: 8px;
}

.nav__auth-link {
  margin-left: 0;
  margin-bottom: 6px;
  width: 100%;
  text-align: center;
}

.nav__auth-toggler {
  display: flex;
  align-items: center;
}

.nav__auth-toggler-icon {
  width: 32px;
  height: 32px;
  margin-left: 1rem;
  cursor: pointer;
}
