:root {
  /* colors */
  --white: #fff;
  --blue: #0068c9;
  --red: #db4747;
  --black: #383838;
  --gray: #656565;
  --light-gray: #c6c6c6;

  /* font weight */
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
}
